@import url("https://rsms.me/inter/inter.css");

html {
	font-family: "Inter", sans-serif !important;
}

.body-font, .title-font {
	font-family: "Inter", sans-serif !important;
}

mark {
  @apply text-red-450;
}

.sticky-nav {
	backdrop-filter: saturate(180%) blur(20px);
	transition: background-color 0.1 ease-in-out;
  }

.blurring {
	backdrop-filter: saturate(180%) blur(20px);
}

  .new_bg {
	/* background-image: url("https://products.ls.graphics/mesh-gradients/images/36.-Pale-Chestnut.jpg");
	background-repeat:no-repeat;
    background-size:cover; */
    background-image: radial-gradient(circle at top left, #354ecd 0%, #354ecd 3%, #3548c2 3%, #3548c2 20%, #3641b7 20%, #3641b7 65%, #363bac 65%, #363bac 72%, #3735a0 72%, #3735a0 79%, #372f95 79%, #372f95 82%, #38288a 82%, #38288a 90%, #38227f 90%, #38227f 100%);
    }