<!-- di /index.html -->
<section class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      {{ range .Site.Data.direktori.direktori }}
      {{ partial "list-direktori" .}}
      {{ end }}
    </div>
  </section>

  <!-- list /layouts/partials/list-direktori.html -->

  <div class="md:col-span-1">
    <div class="px-4 sm:px-0">
      <h3 class="text-lg font-medium leading-6 text-gray-900">{{ .name }}</h3>
      <p class="mt-1 text-sm text-gray-600">
        This information will be displayed publicly so be careful what you share.
      </p>
    </div>
  </div>
  <div class="mt-5 md:mt-0 md:col-span-2">
    <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 space-y-6 sm:p-6">
            {{ range .layanan }}
                <div class="grid grid-cols-2 gap-6">
                    <div class="col-span-1 sm:col-span-2 bg-green-400">
                    <label for="company_website" class="block text-sm font-medium text-gray-700">
                        {{ .title }}
                    </label>
                    </div>
                </div>
            {{ end }}
        </div>
      </div>
  </div>